In [37]:
import requests
import json
import pandas as pd
import folium

def tsunami_data():
    url = 'http://apis.data.go.kr/1741000/TsunamiShelter3/getTsunamiShelter1List'
    params ={'serviceKey' : '3ouN4EKp4qGz+V76EbDHKehnbp5sYL0o19tpl5fAl2Q7s4ZosClGRfc1ENwk+2Px4QUPi4gCuCHGuG3kXFrs9w==', 'pageNo' : '1', 'numOfRows' : '1000', 'type' : 'json' }

    response = requests.get(url, params=params)
    json_ob = json.loads(response.content)
    body = json_ob['TsunamiShelter'][1]['row']
    body = pd.json_normalize(body)
    return body

In [53]:
sido_list = list(body['sido_name'].unique())
sido_list

['강원도', '경상북도', '부산광역시', '울산광역시', '전라남도']

In [45]:
def shelter_map(data):
        m = folium.Map(
        location=[data['lat'].mean(), data['lon'].mean()],
        zoom_start= 7
        )
        for idx in data.index:
                text = data.loc[idx, 'shel_nm'] + '<br>상세주소 :' + data.loc[idx, 'address'] + '<br>수용 가능 인원수 :' + str(data.loc[idx, 'shel_av'])  + '<br>해변으로부터 거리 :' + str(data.loc[idx, 'lenth']) + 'M' + '<br>해발 높이 :' + str(data.loc[idx, 'height']) + '<br>해변으로부터 거리 :' + str(data.loc[idx, 'lenth']) + '<br>내진적용여부 :' + data.loc[idx, 'seismic'] 
                folium.Marker([data.loc[idx, 'lat'], data.loc[idx, 'lon']], icon = folium.Icon(color="red"), tooltip = text).add_to(m)
        return m

In [54]:

def flowsiteAPI_data(serviceKey, HydroType, DataType, DocumentType):
        url = f'https://api.hrfco.go.kr/{serviceKey}/{HydroType}/{DataType}{DocumentType}'
        response = requests.get(url)
        contents = response.text
        json_ob = json.loads(contents)
        body = json_ob['content']
        body = pd.json_normalize(body)
        return body
    

def flowsiteAPI_livedata(serviceKey, HydroType, DataType, DocumentType):
        url = f'https://api.hrfco.go.kr/{serviceKey}/{HydroType}/{DataType}/10M{DocumentType}'
        response = requests.get(url)
        contents = response.text
        # pp.pprint(response.content)
        json_ob = json.loads(contents)
        body = json_ob['content']
        # body = json_ob['response']['body']['item']
        body = pd.json_normalize(body)
        return body

def rainfall_api():
    serviceKey = 'A3A7BEB0-361E-4134-878C-BD8004204558'
    HydroType = 'rainfall'
    DataType = 'list'
    DocumentType = '.json'
    water_level_live = flowsiteAPI_livedata(serviceKey, HydroType, DataType, DocumentType)
    DataType = 'info'
    water_level = flowsiteAPI_data(serviceKey, HydroType, DataType, DocumentType)
    water_level['시도명'] = water_level['addr'].str.split(' ').str[0]
    water_level['lat'] = water_level['lat'].apply(lambda x : int(x.split('-')[0]) + (int(x.split('-')[1]) / 60) + (int(x.split('-')[2]) / 3600) if len(x.split('-')) == 3 else x)
    water_level['lon'] = water_level['lon'].apply(lambda x : int(x.split('-')[0]) + (int(x.split('-')[1]) / 60) + (int(x.split('-')[2]) / 3600) if len(x.split('-')) == 3 else x)
    rainfall_df = pd.merge(water_level, water_level_live, on = 'rfobscd', how = 'inner')
    return rainfall_df

In [59]:
import pandas as pd
df = pd.read_excel("C:/disaster_project/기상청41_단기예보 조회서비스_오픈API활용가이드_격자_위경도(20221027).xlsx")
df = df.groupby(['1단계','2단계'])[['격자 X', '격자 Y']].agg(pd.Series.mode).reset_index()
# df = df[df['1단계'] != '이어도'].reset_index(drop = True)
# df.columns = ['cd_nm', 'lon', 'lat']
# df.to_csv('korea_cd_latlon.csv', index = False, encoding = 'utf-8-sig')
df['격자 X'] = df['격자 X'].apply(lambda x : x[0] if str(type(x)) == "<class 'numpy.ndarray'>" else x)
df['격자 Y'] = df['격자 Y'].apply(lambda x : x[0] if str(type(x)) == "<class 'numpy.ndarray'>" else x)
df.to_csv('korea_weatherlocation_xy.csv', encoding = 'utf-8-sig', index = False)

In [60]:
df

      1단계     2단계  격자 X  격자 Y
0     강원도     강릉시    92   132
1     강원도     고성군    85   145
2     강원도     동해시    97   127
3     강원도     삼척시    98   125
4     강원도     속초시    87   141
..    ...     ...   ...   ...
245  충청북도  청주시상당구    69   106
246  충청북도  청주시서원구    69   106
247  충청북도  청주시청원구    69   107
248  충청북도  청주시흥덕구    68   106
249  충청북도     충주시    76   114

[250 rows x 4 columns]

In [ ]:
import requests

url = 'http://apis.data.go.kr/1360000/VilageFcstInfoService_2.0/getUltraSrtFcst'
params ={'serviceKey' : '서비스키', 'pageNo' : '1', 'numOfRows' : '1000', 'dataType' : 'JSON', 'base_date' : '20210628', 'base_time' : '0630', 'nx' : '55', 'ny' : '127' }

response = requests.get(url, params=params)
print(response.content)

In [38]:
from datetime import datetime

base_date = datetime.now().strftime('%Y%m%d')
if int(datetime.now().strftime('%d')) > 30:
    base_time = datetime.now().strftime('%H30')
else :
    base_time = datetime.now().strftime('%H00')
    
base_date

'20221218'

In [52]:
type([1,2,3])

list

In [122]:
from datetime import datetime, timedelta
import requests
import json

# 시간 설정
base_datebf30 = datetime.now() - timedelta(minutes = 30)
base_date = base_datebf30.strftime('%Y%m%d')
if int(base_datebf30.strftime('%d')) > 30:
    base_time = base_datebf30.strftime('%H00')
else :
    base_time = base_datebf30.strftime('%H30')

print(base_date, base_time)
# api 호출준비(지역별 대기값)
korea_xy_df = pd.read_csv('C:/disaster_project/pages/using_data/korea_weatherlocation_xy.csv')

# 지역 선택
cd_nm_list = list(korea_xy_df['1단계'].unique())
cd_nm = '서울특별시'
sgg_nm_list = list(korea_xy_df[korea_xy_df['1단계'] == cd_nm]['2단계'].unique())
sgg_nm = '강서구'

# 격자 X, 격자 Y값 찾기
korea_xy_df = korea_xy_df[(korea_xy_df['1단계'] == cd_nm) & (korea_xy_df['2단계'] == sgg_nm)]
nx = korea_xy_df.iloc[0,2]
ny = korea_xy_df.iloc[0,3]

# api 호출
url = 'http://apis.data.go.kr/1360000/VilageFcstInfoService_2.0/getUltraSrtFcst'
params ={'serviceKey' : '3ouN4EKp4qGz+V76EbDHKehnbp5sYL0o19tpl5fAl2Q7s4ZosClGRfc1ENwk+2Px4QUPi4gCuCHGuG3kXFrs9w==',
        'pageNo' : '1', 'numOfRows' : '1000', 'dataType' : 'JSON', 'base_date' : base_date, 'base_time' : base_time, 'nx' : nx, 'ny' : ny }

# json csv 변환
response = requests.get(url, params=params)
contents = response.content
json_ob = json.loads(contents)
body = json_ob['response']['body']['items']['item']
body = pd.json_normalize(body)
body

20221219 0030

    baseDate baseTime category  fcstDate fcstTime fcstValue  nx   ny
0   20221219     0030      LGT  20221219     0100         0  58  126
1   20221219     0030      LGT  20221219     0200         0  58  126
2   20221219     0030      LGT  20221219     0300         0  58  126
3   20221219     0030      LGT  20221219     0400         0  58  126
4   20221219     0030      LGT  20221219     0500         0  58  126
5   20221219     0030      LGT  20221219     0600         0  58  126
6   20221219     0030      PTY  20221219     0100         0  58  126
7   20221219     0030      PTY  20221219     0200         0  58  126
8   20221219     0030      PTY  20221219     0300         0  58  126
9   20221219     0030      PTY  20221219     0400         0  58  126
10  20221219     0030      PTY  20221219     0500         0  58  126
11  20221219     0030      PTY  20221219     0600         0  58  126
12  20221219     0030      RN1  20221219     0100      강수없음  58  126
13  20221219     0030      RN1  20221219     0200      강수없음  58  126
14  20221219     0030      RN1  20221219     0300      강수없음  58  126
15  20221219     0030      RN1  20221219     0400      강수없음  58  126
16  20221219     0030      RN1  20221219     0500      강수없음  58  126
17  20221219     0030      RN1  20221219     0600      강수없음  58  126
18  20221219     0030      SKY  20221219     0100         1  58  126
19  20221219     0030      SKY  20221219     0200         1  58  126
20  20221219     0030      SKY  20221219     0300         1  58  126
21  20221219     0030      SKY  20221219     0400         1  58  126
22  20221219     0030      SKY  20221219     0500         1  58  126
23  20221219     0030      SKY  20221219     0600         1  58  126
24  20221219     0030      T1H  20221219     0100        -9  58  126
25  20221219     0030      T1H  20221219     0200       -10  58  126
26  20221219     0030      T1H  20221219     0300       -10  58  126
27  20221219     0030      T1H  20221219     0400       -10  58  126
28  20221219     0030      T1H  20221219     0500       -10  58  126
29  20221219     0030      T1H  20221219     0600       -10  58  126
30  20221219     0030      REH  20221219     0100        55  58  126
31  20221219     0030      REH  20221219     0200        55  58  126
32  20221219     0030      REH  20221219     0300        55  58  126
33  20221219     0030      REH  20221219     0400        55  58  126
34  20221219     0030      REH  20221219     0500        65  58  126
35  20221219     0030      REH  20221219     0600        60  58  126
36  20221219     0030      UUU  20221219     0100      -0.6  58  126
37  20221219     0030      UUU  20221219     0200      -0.7  58  126
38  20221219     0030      UUU  20221219     0300      -0.6  58  126
39  20221219     0030      UUU  20221219     0400      -0.1  58  126
40  20221219     0030      UUU  20221219     0500       0.2  58  126
41  20221219     0030      UUU  20221219     0600       0.2  58  126
42  20221219     0030      VVV  20221219     0100      -1.8  58  126
43  20221219     0030      VVV  20221219     0200      -1.9  58  126
44  20221219     0030      VVV  20221219     0300      -1.4  58  126
45  20221219     0030      VVV  20221219     0400      -0.9  58  126
46  20221219     0030      VVV  20221219     0500        -1  58  126
47  20221219     0030      VVV  20221219     0600      -1.1  58  126
48  20221219     0030      VEC  20221219     0100        21  58  126
49  20221219     0030      VEC  20221219     0200        22  58  126
50  20221219     0030      VEC  20221219     0300        26  58  126
51  20221219     0030      VEC  20221219     0400        10  58  126
52  20221219     0030      VEC  20221219     0500       352  58  126
53  20221219     0030      VEC  20221219     0600       351  58  126
54  20221219     0030      WSD  20221219     0100         2  58  126
55  20221219     0030      WSD  20221219     0200         2  58  126
56  20221219     0030      WSD  20221219     0300         2  58  126
57  20221219     0030      WSD  20221219     0400         1  58  126
58  20221219     0030      WSD  20221219     0500         1  58  126
59  20221219     0030      WSD  20221219     0600         1  58  126

In [95]:
base_date
base_time

'0000'

In [99]:
# 시간 설정
base_date = datetime.now().strftime('%Y%m%d')
if int(datetime.now().strftime('%d')) > 30:
    base_time = datetime.now().strftime('%H30')
else :
    base_time = datetime.now().strftime('%H00')

In [101]:
datetime.now().strftime('%Y%m%d%H')

'2022121900'

In [106]:
from datetime import datetime, timedelta
base_date = datetime.now() - timedelta(minutes = 30)
base_date

datetime.datetime(2022, 12, 18, 23, 47, 52, 419856)

In [40]:
import requests
import json
import pandas as pd
url='http://223.130.129.189:9191/getSgisDrinkWaterList/numOfRows=1000&pageNo=1&resultType=json'

response = requests.get(url)
json_ob = json.loads(response.content)

In [41]:
import requests
import json
import pandas as pd
url='http://223.130.129.189:9191/getSgisDrinkWaterList/numOfRows=60000&pageNo=1&resultType=json'

from pprint import pprint


response = requests.get(url)
json_ob = json.loads(response.content)
body = json_ob['getSgisDrinkWaterList']['item']
body = pd.json_normalize(body)

body


#body=body[['SPOT_NM','DO_NM','CTY_NM','ADRES']]

# for i in body.index:
#     if '구' in body.loc[i,'CTY_NM']
#     body.loc[i,'CTY_NM']=

#a=body[body['CTY_NM'].str.contains('시')]

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [1]:
import pandas as pd
df=pd.read_csv('C:\\Users\\user\\Desktop\\VS code\\disaster-main\\disaster-main\\pages\\using_data\\약수터.csv',encoding='utf-8-sig')
df=df.dropna()
df=df.reset_index(drop=True)

In [2]:
df

         SPOT_NM  DO_NM CTY_NM                ADRES
0      잣절지하수공동시설  서울특별시    구로구   서울특별시 구로구 개봉동 2-61
1             잣절  서울특별시    구로구   서울특별시 구로구 개봉동 2-61
2         개봉3약수터  서울특별시    구로구   서울특별시 구로구 개봉동 53-3
3             오남  서울특별시    구로구  서울특별시 구로구 오류동 42-29
4             궁동  서울특별시    구로구   서울특별시 구로구 궁동 10-49
...          ...    ...    ...                  ...
50950         장수    경기도    군포시      경기도 군포시 당동 48-1
50951         장수    경기도    군포시      경기도 군포시 당동 48-1
50952        오봉산    경기도    의왕시   경기도 의왕시 고천동 191-14
50953        오봉산    경기도    의왕시   경기도 의왕시 고천동 191-14
50954      LG아파트    경기도    의왕시     경기도 의왕시 오전동 78-8

[50955 rows x 4 columns]

In [6]:
import pandas as pd
df=pd.read_csv('C:\\Users\\user\\Desktop\\VS code\\disaster-main\\disaster-main\\pages\\using_data\\약수터.csv',encoding='utf-8-sig')
df=df.dropna()
df=df.reset_index(drop=True)

from geopy.geocoders import Nominatim
geo_local = Nominatim(user_agent='South Korea')

# 위도, 경도 반환하는 함수
def geocoding(address):
    try:
        geo = geo_local.geocode(address)
        x_y = [geo.latitude, geo.longitude]
        return x_y

    except:
        return [0,0]

latitude = []
longitude =[]

for i in df['ADRES']:
    latitude.append(geocoding(i)[0])
    longitude.append(geocoding(i)[1])
    if i==100:
        break

In [1]:
import pandas as pd
df=pd.read_csv('C:\\Users\\user\\Desktop\\VS code\\disaster-main\\disaster-main\\pages\\using_data\\약수터.csv',encoding='utf-8-sig')
df=df.dropna()
df=df.reset_index(drop=True)
df

         SPOT_NM  DO_NM CTY_NM                ADRES
0      잣절지하수공동시설  서울특별시    구로구   서울특별시 구로구 개봉동 2-61
1             잣절  서울특별시    구로구   서울특별시 구로구 개봉동 2-61
2         개봉3약수터  서울특별시    구로구   서울특별시 구로구 개봉동 53-3
3             오남  서울특별시    구로구  서울특별시 구로구 오류동 42-29
4             궁동  서울특별시    구로구   서울특별시 구로구 궁동 10-49
...          ...    ...    ...                  ...
50950         장수    경기도    군포시      경기도 군포시 당동 48-1
50951         장수    경기도    군포시      경기도 군포시 당동 48-1
50952        오봉산    경기도    의왕시   경기도 의왕시 고천동 191-14
50953        오봉산    경기도    의왕시   경기도 의왕시 고천동 191-14
50954      LG아파트    경기도    의왕시     경기도 의왕시 오전동 78-8

[50955 rows x 4 columns]

In [2]:
df.drop_duplicates(['SPOT_NM','ADRES'],keep='first',inplace=True,ignore_index = True)

In [4]:
df.to_csv('위도.csv',encoding='utf-8-sig',index=False)

In [6]:
def tsunami_data():

    pageNo = 1

    numOfRows = 1000

    type = 'json'

    url = f'http://223.130.129.189:9191/getTsunamiShelter1List/numOfRows={numOfRows}&pageNo={pageNo}&type={type}'

    response = requests.get(url)

    json_ob = json.loads(response.content)

    body = json_ob['TsunamiShelter'][1]['row']

    body = pd.json_normalize(body)

    return body
tsunami_data()

NameError: name 'requests' is not defined

In [ ]:
with st.spinner('정보 조회 중입니다. 잠시 기다려주세요.'):
    try:
        # 공공데이터 조회
        url = 'http://apis.data.go.kr/B552657/ErmctInfoInqireService/getEmrrmRltmUsefulSckbdInfoInqire'
        params ={'serviceKey' : '3ouN4EKp4qGz+V76EbDHKehnbp5sYL0o19tpl5fAl2Q7s4ZosClGRfc1ENwk+2Px4QUPi4gCuCHGuG3kXFrs9w==', 'STAGE1' : cd_nm, 'STAGE2' : sgg_nm, 'pageNo' : '1', 'numOfRows' : '1000' }

        response = requests.get(url, params=params)
        content = response.text

        ### xml을 DataFrame으로 변환하기 ###
        #bs4 사용하여 item 태그 분리

        xml_obj = bs4.BeautifulSoup(content,'lxml-xml')
        rows = xml_obj.findAll('item')

        # 각 행의 컬럼, 이름, 값을 가지는 리스트 만들기
        row_list = [] # 행값
        name_list = [] # 열이름값
        value_list = [] #데이터값

        # xml 안의 데이터 수집
        for i in range(0, len(rows)):
            columns = rows[i].find_all()
            #첫째 행 데이터 수집
            for j in range(0,len(columns)):
                if i ==0:
                    # 컬럼 이름 값 저장
                    name_list.append(columns[j].name)
                # 컬럼의 각 데이터 값 저장
                value_list.append(columns[j].text)
            # 각 행의 value값 전체 저장
            row_list.append(value_list)
            # 데이터 리스트 값 초기화
            value_list=[]

        #xml값 DataFrame으로 만들기
        corona_df = pd.DataFrame(row_list, columns=name_list)

        # 데이터 가공
        corona_df = corona_df[['hvidate','hvec','hvoc','hvgc','hvamyn','dutyName','dutyTel3']]
        corona_df.columns = ['정보 업데이트 일시','응급실 가용현황', '수술실 가용현황', '입원실 가용현황', '구급차 가용여부', '기관명', '연락처']
        corona_df['응급실 가용현황'] = corona_df['응급실 가용현황'].astype('int')
        sum = 0
        for i in corona_df['응급실 가용현황']:
            if i > 0:
                sum += i
        st.write('')
        st.write('')
        col1, col2, col3, col4 = st.columns(4)
        col1.metric("지역 내 응급의료기관 수", str(len(corona_df)) + '개')
        col2.metric('지역 내 응급실 가용병상', '총 ' + str(sum) + '개')
        st.write('')
        st.write('')
        st.write(corona_df.reset_index(drop = True))
        # st.success('Done!')
    except Exception as E:
        st.write("😓죄송합니다. 해당 지역에 의료시설이 없습니다.")
        print(E)

In [31]:
#실시간 유량
import requests
import json
import pandas as pd
from pprint import pprint
import bs4

#url='http://223.130.129.189:9191/getWaterFlux/sujCode=318&stDt=2022-12-01&stTm=00&edDt=2022-12-01&edTm=02'
url='http://223.130.129.189:9191/getWaterFlux/stDt=2022-12-01&stTm=00&edDt=2022-12-01&edTm=02&numOfRows=1000&pageNo=1'
response = requests.get(url)
content = response.text

xml_obj = bs4.BeautifulSoup(content,'lxml-xml')
rows = xml_obj.findAll('item')

row_list = [] # 행값
name_list = [] # 열이름값
value_list = [] #데이터값

for i in range(0, len(rows)):
    columns = rows[i].find_all()
    #첫째 행 데이터 수집
    for j in range(0,len(columns)):
        if i ==0:
            # 컬럼 이름 값 저장
            name_list.append(columns[j].name)
        # 컬럼의 각 데이터 값 저장
        value_list.append(columns[j].text)
    # 각 행의 value값 전체 저장
    row_list.append(value_list)
    # 데이터 리스트 값 초기화
    value_list=[]

#xml값 DataFrame으로 만들기
corona_df = pd.DataFrame(row_list, columns=name_list)

print(corona_df)
#corona_df.to_csv('정수장.csv',encoding='utf-8-sig')

Empty DataFrame
Columns: []
Index: []

In [36]:
#SPI 가뭄지수정보
#실시간 유량
import requests
import json
import pandas as pd
from pprint import pprint
import bs4

url='http://223.130.129.189:9191/getAnalsInfoList/pageNo=1&numOfRows=100&hjdCd=1168058000&stDt=20221201&edDt=20221214'
response = requests.get(url)
content = response.text

xml_obj = bs4.BeautifulSoup(content,'lxml-xml')
rows = xml_obj.findAll('item')

row_list = [] # 행값
name_list = [] # 열이름값
value_list = [] #데이터값

for i in range(0, len(rows)):
    columns = rows[i].find_all()
    #첫째 행 데이터 수집
    for j in range(0,len(columns)):
        if i ==0:
            # 컬럼 이름 값 저장
            name_list.append(columns[j].name)
        # 컬럼의 각 데이터 값 저장
        value_list.append(columns[j].text)
    # 각 행의 value값 전체 저장
    row_list.append(value_list)
    # 데이터 리스트 값 초기화
    value_list=[]

#xml값 DataFrame으로 만들기
corona_df = pd.DataFrame(row_list, columns=name_list)

print(corona_df)
#corona_df.to_csv('정수장.csv',encoding='utf-8-sig')

       anldt anlrst anlval    dv       hjdcd
0   20221201     정상    .79  SPI6  1168058000
1   20221201     정상    .34  SPI3  1168058000
2   20221202   보통습윤   1.06  SPI6  1168058000
3   20221202   보통습윤   1.24  SPI3  1168058000
4   20221203     정상    .79  SPI6  1168058000
5   20221203     정상    .34  SPI3  1168058000
6   20221204     정상    .79  SPI6  1168058000
7   20221204     정상    .34  SPI3  1168058000
8   20221205     정상    .79  SPI6  1168058000
9   20221205     정상    .34  SPI3  1168058000
10  20221206     정상    .79  SPI6  1168058000
11  20221206     정상    .34  SPI3  1168058000
12  20221207     정상    .34  SPI3  1168058000
13  20221207     정상    .79  SPI6  1168058000
14  20221208     정상    .34  SPI3  1168058000
15  20221208     정상    .79  SPI6  1168058000
16  20221209     정상    .34  SPI3  1168058000
17  20221209     정상    .79  SPI6  1168058000
18  20221210     정상    .34  SPI3  1168058000
19  20221210     정상    .79  SPI6  1168058000
20  20221211     정상    .49  SPI3  1168058000
21  20221211   보통습윤   1.07  SPI6  1168058000
22  20221212   보통습윤   1.03  SPI6  1168058000
23  20221212     정상    .57  SPI3  1168058000
24  20221213     정상    .63  SPI3  1168058000
25  20221213   보통습윤   1.03  SPI6  1168058000
26  20221214     정상    .65  SPI3  1168058000
27  20221214   보통습윤   1.03  SPI6  1168058000

In [ ]:
response = requests.get(url)
json_ob = json.loads(response.content)
body = json_ob['getSgisDrinkWaterList']['item']
body = pd.json_normalize(body)

body


#body=body[['SPOT_NM','DO_NM','CTY_NM','ADRES']]

# for i in body.index:
#     if '구' in body.loc[i,'CTY_NM']
#     body.loc[i,'CTY_NM']=

#a=body[body['CTY_NM'].str.contains('시')]